body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/*
@font-face {
  font-family: 'MyFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: local('myfont Regular'), /* フォントがローカルにインストールされている場合に有効 */
       url('webfont.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
       url('webfont.woff') format('woff'), /* woff - Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* svg - Legacy iOS */
}

body {
  font-family: MyFont; /* @font-faceで定義したフォント名を指定 */
}
*/
