
<div class="signup">
  <div class="p-container">
    <h1 class="str-u-text-center"></h1>
    <p class="str-u-text-center str-u-m20-b p-description">ユーザー登録</p>
    <form class="str-form">
      <div class="str-form-group">
        <input type="email" placeholder="メールアドレス" />
      </div>
      <div class="str-form-group">
        <input type="password" placeholder="パスワード" />
      </div>
      <div class="str-form-group">
        <button class="str-btn str-btn-block str-btn-cuxino" type="submit">登録</button>
      </div>
    </form>
    <p (click)=navigateToLogin()>ログインはこちら</p>
  </div>
</div>
